.stafftoplevel {
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
}

#staffpic {
    width: 70%;
}

.stafftext {
    text-align: center;
    margin-top: 30px;
}

.pastor {
    margin-bottom: 10px;
}